.propertyTitle {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px;
    color: #ff6060;
}

.propertyHost {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px;
    color: #ff6060;
    display: flex;
}


.hostPicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px;
    margin-top: -20px;
}

.propertyLocation {

    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    margin: 20px;
    color: #ff6060;
    padding-bottom: 5px;
    margin-top: -5px;
    margin-bottom: -5px;
}

.ratingStack {
    margin: 20px;
    color: #ff6060 !important;
    font-size: 28px;
    font-weight: 500;
    margin-left: 20px;
}

.rating {
    color: #ff6060 !important;
    font-size: 25px;
    font-weight: 500;
}

.property {
    display: flex;
    justify-content: space-between;
}

.propertyTagsStack {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.propertDescEquipment {
    display: flex;
    flex: 1;
    justify-content: space-around;
}


/* for screens below 335px */
@media (max-width: 375px) {
    .propertDescEquipment {
        display: inline-block;
    }

    .propertyTitle {
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin: 20px;
        color: #ff6060;
        margin-top: -5px;
    }

    .propertyTagsStack {
        display: inline-block;
        margin-right: -2px;
        margin-bottom: 2px;
    }

    .property {
        display: inline-block;
    }

    .propertyStackHost {
        display: flex;
        justify-content: space-between;
        margin-bottom: -20px;
    }

    .propertyTagsStack {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hostPicture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px;
        margin-top: -20px;
    }

    .ratingStack-xm {
        display: none !important;
    }

    .propertyHost-xm {
        display: none !important;
    }


}





.checked {
    color: orange;
}

@media (max-width: 767px) {
    .property {
        display: inline-block;
        /* justify-content: space-between; */
    }

    .propertyHost {
        float: left;
    }

    .propertDescEquipment {
        display: inline-block;
    }

    .propertyTagsStack {
        display: inline-block;
    }

    .propertyTitle {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        margin: 20px;
        color: #ff6060;
        margin-top: -5px;
    }

    .ratingStack-xm {
        display: none !important;
    }

    .propertyHost-xm {
        display: none !important;
    }

    .propertyStackHost {
        display: flex;
        justify-content: space-between;
        margin-bottom: -20px;
    }

    .hostPicture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 20px;
        margin-top: -20px;
    }

    /* .propertyTagsStack {
            display: flex;
            justify-content: space-between;
            align-items: center;
        } */
}

@media (min-width:768px) {
    .propertDescEquipment {
        display: flex;
        flex: 1;
        justify-content: space-around;
    }

    .propertyTagsStack {
        display: flex;
    }

    .propertyStackHost {
        display: none;
    }

    .collapseComponents{
        display: flex;
    }

    .cb{
        width: 50%;
    }
}