.error {
    color: #FF6060;
    text-align: center;
}

.error a {
    color: #FF6060;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 200px;
    padding-bottom: 40px;
}

.error h1 {
    font-family: Montserrat;
    font-size: 158px;
    font-weight: 700;
}

.error h2 {
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
}

/* for screens below 335px */
@media (min-width: 335px) {

}

/* Screen between  335px to 1024px */
@media (min-width: 340px) and (max-width: 960px) {

}

/* for screens above 960px*/
@media (min-width: 960px) {
}