.navBar {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.navLink {
    color: #FF6060;
    float: right;
    margin-top: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;

}



@media (max-width: 767px) {
    .navLink {
        /* Make the distance between the navigation */
        margin-left: 10px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 142.6%;
    }
}

@media (min-width:768px) and (max-width:991px) {

    /* CSS */
    .navLink {
        /* Make the distance between the navigation */
        font-style: normal;
        font-weight: 500;
        font-size: 28px;
        line-height: 142.6%;
        margin-left: 20px;
    }
}

@media (min-width:992px) {
    .navBar {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navLink{
        margin-left: 57px;
    }
}