/* .carouselImages {
    display: inline-block !important;
    margin: 20px !important;
    border-radius: 25px !important;
    height: fit-content !important;
    align-items: center ;
    justify-content: center;
} */

.carouselImages img {
    border-radius: 25px !important;
    background-size: cover;
    margin: 10px;
    height: 415px;
    width: 90vw !important;
    vertical-align: auto;
    /* min-width: none; */
}

.carouselImages button{
    border-style: none;
    background-color: transparent;
}

.carouselImages{
    display: flex;
    justify-content: center;
}

@media (max-width: 767px) {
    .carouselImages img {
        height: 255px;
        margin-left: 10px;

    }

}

@media (min-width:768px){

}